* {
    margin: 0;
    top: 0;
}

.container {
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.wrapper {
    top: 10px;
    height: 40px;
    width: 50%;
    padding: 5px;
    background-color: aqua;
}