* {
    margin: 0;
    top: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.wrapper {
    top: 10px;
    height: 40px;
    width: 50%;
    padding: 5px;
    background-color: aqua;
    display: flex;
    
}

.navbar {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.navbar-list {
    padding: 20px;
}