::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/circular-std-medium-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Circular Std";
    font-weight: 500;
    font-size: 58px;
}